<!-- <div class="wrapper" *ngIf='events'>
    <h3>Live events data from: {{ events.description }}</h3>

</div> -->

<div class='map-container' *ngIf='geojson.features.length > 0'>
    <!-- <div class="row">
        <div class="col-md-4 first">
            <ul class='first-div-ul'>
                <li *ngFor='let event of events.events | paginate: { itemsPerPage:4, currentPage: p }'>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                               <strong>Title:</strong> {{ event.title }}
                            </div>
                            <div class="card-text">
                                <p *ngFor='let source of event.sources'>
                                    <strong>link to source: </strong> <a href="{{ source.url }}" alt='event source' target='blank'>Click to view source</a>
                                </p>
                        
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class='pagination'>
                <pagination-controls  (pageChange)='p =$event' ></pagination-controls>
            </div>
        </div>

        <div class="col-md-7 second" *ngIf='longitude !== undefined' data-aos="flip-left">
        </div>
    </div> -->
    <div id='map' class='match-parent' ></div>
</div>

<div class="loader" *ngIf='!events'>
    <img class='loader-gif' src="./assets/gif/loader.gif" alt="loader">
</div>