<nav class='navbar navbar-expand-md'>

  <button class="navbar-toggler" data-toggle='collapse' data-target='#collapse-target'><i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id='collapse-target'>
      <a routerLink='/' class="navbar-brand"><i class="fa fa-space-shuttle fa-2x" aria-hidden="true"></i> NASA API Project</a>
      <span class='navbar-text'></span>
    
      <ul class='navbar-nav justify-content-end'>
        <li class='nav-item' routerLink='/'>
          <a href="#" class='nav-link'>Home</a>
        </li>
        <li class='nav-item'>
          <a routerLink='/photo-gallery' class='nav-link'>Photo Gallery</a>
        </li>
        <li class='nav-item' routerLink='/event-tracker'>
          <a class='nav-link'>Natural Events Tracker</a>
        </li>
      </ul>
    </div>
  </div>

</nav>